biblioteca.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="biblioteca">
    <xs:annotation>
      <xs:documentation> &lt;!DOCTYPE biblioteca SYSTEM "biblioteca.dtd" >   </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="libros">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="libro" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="titulo_libro"/>
                    <xs:element name="capitulo" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="titulo_capitulo"/>
                          <xs:element name="contenido">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:anyURI" name="enlace" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="paginas" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="indice">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="lista" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="sinopsis"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                  <xs:attribute type="xs:string" name="tipo_clase" use="optional"/>
                  <xs:attribute type="xs:short" name="paginas" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="revistas">
          <xs:annotation>
            <xs:documentation>         REVISTAS           </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="revista">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="titulo_revista"/>
                    <xs:element type="xs:byte" name="numero_revista"/>
                    <xs:element type="xs:string" name="indice_contenido"/>
                    <xs:element name="seccion">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="contenido_revista">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:anyURI" name="enlace"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="numero_paginas"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id"/>
                  <xs:attribute type="xs:string" name="tipo_clase"/>
                  <xs:attribute type="xs:byte" name="numero_paginas"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="periodicos">
          <xs:annotation>
            <xs:documentation>        PERIODICOS          </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="periodico">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="secciones">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="articulo">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="autor"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="contenido_periodico">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="enlace"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="tipo_seccion"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="indice_periodico"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="tipo_clase"/>
                  <xs:attribute type="xs:string" name="fecha_publicacion"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>